<!-- Config file for the game -->

<config>
  <app framerate_cap="30">
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <audio>
    <music>
      <folder>audio/music/</folder>
    </music>
  </audio>
  
 <gui>
    <atlas file="gui/atlas.png"/>
  </gui>  

  <map>
    <folder>maps/</folder>
    <mapa1>
      <BackgroundMusic file ="Brain_Damage.ogg"/>
    </mapa1>
    <mapa2>
      <BackgroundMusic file ="Background2.ogg"/>
    </mapa2>
  </map>

  <scenes>
     <scene name="mapa2.tmx"/>
     <scene name="mapa.tmx"/>
  </scenes>

  <entities cycles_in_seconds="10"/>

</config>